.hover-effect{
    transition: transform 0.5s ease, box-shadow 0.5s ease !important;
}
  
.hover-effect:hover {
    transform: translateY(-6px) scale(1.02) !important;
    box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.25) !important;
}