<div class="container text-center mt-4">
    <div class="row h-100">
        <div class="col-3 w-25" >
          <a href="" target="_blank" style="text-decoration: none;color:black">
              <div class="card card-shadow ">
                <div class="card-body" >
                  <h5 class="card-title text-center">Mer Än Bara</h5>
                </div>
              </div>
          </a>
        </div>
        <div class="col-3 w-25">
          <a routerLink="/References" style="text-decoration: none;color:black">
            <div class="card card-shadow" >
              <div class="card-body" >
                <h5 class="card-title text-center">Star wars</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col-3 w-25">
        <a routerLink="/About" style="text-decoration: none;color:black ">
          <div class="card card-shadow">
            <div class="card-body">
              <h5 class="card-title text-center">Campus Booking Concept</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-3 w-25">
        <a routerLink="/About" style="text-decoration: none;color:black ">
          <div class="card card-shadow">
            <div class="card-body">
              <h5 class="card-title text-center">Campus Booking API</h5>
            </div>
          </div>
        </a>
      </div>
      </div>

      <div class="row mt-4">
        <div class="col-3 w-25" >
          <a href="https://github.com/Carpenteri1/KrankenHause" target="_blank" style="text-decoration: none;color:black">
              <div class="card card-shadow ">
                <div class="card-body" >
                  <h5 class="card-title text-center">KrankenHause</h5>
                </div>
              </div>
          </a>
        </div>
        <div class="col-3 w-25">
          <a href="https://github.com/Carpenteri1/LittleShopOfTrees" target="_blank" style="text-decoration: none;color:black">
            <div class="card card-shadow" >
              <div class="card-body" >
                <h5 class="card-title text-center">Little Shop Of Trees</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col-3 w-25">
        <a href="https://github.com/Carpenteri1/Covid-Data" target="_blank" style="text-decoration: none;color:black ">
          <div class="card card-shadow">
            <div class="card-body">
              <h5 class="card-title text-center">Covid Data</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-3 w-25">
        <a href="https://github.com/Carpenteri1/BerrasCinema" target="_blank" style="text-decoration: none;color:black ">
          <div class="card card-shadow">
            <div class="card-body">
              <h5 class="card-title text-center">BerrasCinema</h5>
            </div>
          </div>
        </a>
      </div>
      </div> 

      <div class="row mt-4">
        <div class="col-3 w-25" >
          <a href="https://github.com/Carpenteri1/KrankenHause" target="_blank" style="text-decoration: none;color:black">
              <div class="card card-shadow ">
                <div class="card-body" >
                  <h5 class="card-title text-center">KrankenHause</h5>
                </div>
              </div>
          </a>
        </div>
        <div class="col-3 w-25">
          <a href="https://github.com/Carpenteri1/LittleShopOfTrees" target="_blank" style="text-decoration: none;color:black">
            <div class="card card-shadow" >
              <div class="card-body" >
                <h5 class="card-title text-center">Little Shop Of Trees</h5>
              </div>
            </div>
          </a>
        </div>
        <div class="col-3 w-25">
        <a href="https://github.com/Carpenteri1/Covid-Data" target="_blank" style="text-decoration: none;color:black ">
          <div class="card card-shadow">
            <div class="card-body">
              <h5 class="card-title text-center">Covid Data</h5>
            </div>
          </div>
        </a>
      </div>
      <div class="col-3 w-25">
        <a href="https://github.com/Carpenteri1/BerrasCinema" target="_blank" style="text-decoration: none;color:black ">
          <div class="card card-shadow">
            <div class="card-body">
              <h5 class="card-title text-center">BerrasCinema</h5>
            </div>
          </div>
        </a>
      </div>
      </div> 


      
</div>
