<div class="container mt-4 mb-4 ">
  <div class="grid-container">
      <div class="card card-shadow" id="CampusBookingConcept" (mouseover)="cardOneShowElemet = true" (mouseleave)="cardOneShowElemet = false">
        <img class="card-img-top" src="assets/images/campusLogo.png" height="145" alt="Card image cap">
        <div class="card-body" >
          <h5 class="card-title text-center">Campus Booking Concept</h5>
          <p class="card-text">
            Examensarbete. <br><br>Bokningskoncept till Campus Varberg.<br>
            Campus vill uppdatera sitt nuvarande bokningsystem med mera features,
            så som att låta elever boka grupprum och ge feedback. Detta är frontend.
          </p>
       
        </div>
        <div class="card-footer" style="text-align:right;" *ngIf="cardOneShowElemet"> 
          <!--<a href="https://github.com/Carpenteri1/CampusBookingConcept" target="_blank"><fa-icon [icon]="githubIcon"></fa-icon></a>-->
        </div>
      </div>
      <div class="card card-shadow" id="CampusBookingAPI" (mouseover)="cardTwoShowElemet = true" (mouseleave)="cardTwoShowElemet = false">
        <img class="card-img-top" src="assets/images/campusLogo.png" height="145" alt="Card image cap">
        <div class="card-body" >
          <h5 class="card-title text-center">Campus Booking API</h5>
          <p class="card-text">
            Examensarbete. <br><br>Bokningskoncept till Campus Varberg.<br>
            Campus vill uppdatera sitt nuvarande bokningsystem med mera features,
            så som att låta elever boka grupprum och ge feedback. Detta är backend.
          </p>
        </div>
        <div class="card-footer" style="text-align:right;" *ngIf="cardTwoShowElemet">
          <!--<a href="https://github.com/Carpenteri1/CampusBookingAPI" target="_blank"><fa-icon [icon]="githubIcon"></fa-icon></a>-->
        </div>
      </div>
      <div class="card card-shadow" (mouseover)="cardThreeShowElemet = true" (mouseleave)="cardThreeShowElemet = false">
        <img class="card-img-top" src="assets/images/weatherApp.jpeg" height="145" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Weather App</h5>
          <p class="card-text">
            Private projekt. <br><br>
            Hämtar data från openweathers API, kan även visa vädret över dagen eller 4 dagar framåt.
            Consol versionen är färdigställd, MVC versionen saknar frontend och vissa funktioner.
          </p>
        </div>
        <div class="card-footer" style="text-align:right;" *ngIf="cardThreeShowElemet">
         <!--<a href="https://github.com/Carpenteri1/WeatherApp" target="_blank"><fa-icon [icon]="githubIcon"></fa-icon></a>-->
        </div>
      </div>
      <div class="card card-shadow" (mouseover)="cardFourShowElemet = true" (mouseleave)="cardFourShowElemet = false">
        <div style="background-color: black;height: 145px;padding: 3em;">
          <img class="card-img-top" src="assets/images/meranbaragolf.png" height="50" width="60" alt="Card image cap">
        </div>
        <div class="card-body">
          <h5 class="card-title text-center">Mer Än Bara Golf</h5>
          <p class="card-text mb-4">
            LIA projekt.<br><br>
            Kunden ville kunna skapa event och knyta nya och gamla kontakter via golf.
            Mer än bara golf är den lösningen. 
          </p>
        </div> 
        <div class="card-footer" style="text-align:right;" *ngIf="cardFourShowElemet">
          <!--<a href="https://meranbaragolf.se/" target="_blank"><fa-icon [icon]="linkIcon"></fa-icon></a>-->
        </div>
      </div>

      <div class="card card-shadow" (mouseover)="cardFiveShowElemet = true" (mouseleave)="cardFiveShowElemet = false">
        <img class="card-img-top" src="assets/images/krankenhause.jpeg" height="145" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">KrankenHause</h5>
          <p class="card-text">
            Skolprojekt för att få kunskap inom async och treading.
            Projektet bygger på 4 olika thread och ska simulera ett sjukhus.
            Varje thread har sin egen uppgift.<br>
            Thread ett skapar 30 patienter och sedan avslutas.
            Thread två sorterar patienter till IVA eller sanatoriumet.<br>
            Thread tre updaterar symtom och status på patienterna.
            Thread fyra soterar patienterna till aftelife eller recovery.
          </p>
        </div>
        <div class="card-footer" style="text-align:right;" *ngIf="cardFiveShowElemet">
          <!--<a href="https://github.com/Carpenteri1/KrankenHause" target="_blank"><fa-icon [icon]="githubIcon"></fa-icon></a>-->
        </div>
      </div>
      <div class="card card-shadow" (mouseover)="cardSixShowElemet = true" (mouseleave)="cardSixShowElemet = false">
        <img class="card-img-top" src="assets/images/shopoftree.jpg" height="145" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">LittleShopOfTrees</h5>
          <p class="card-text">
            Skolprojekt inom webutveckling.<br>
            Få en djupare förståelse i css och hur man bygger en hemsida.<br>
            Vi fick själva välja hemsidans tema och koncept.<br>
            Jag valde då en sida som sålde träd och skapade en enkel butik sida<br>
            Det finns inga funktioner eller butiks funktioner enbart layout.
          </p>
        </div>
        <div class="card-footer" style="text-align:right;" *ngIf="cardSixShowElemet">
         <!-- <a href="https://github.com/Carpenteri1/LittleShopOfTrees" target="_blank"><fa-icon [icon]="githubIcon"></fa-icon></a>
          <a href="https://carpenteri1.github.io/LittleShopOfTrees/startPage.html" target="_blank"><fa-icon [icon]="linkIcon"></fa-icon></a>-->
        </div>
      </div>
      <div class="card card-shadow"  (mouseover)="cardSevenShowElemet = true" (mouseleave)="cardSevenShowElemet = false">
        <img class="card-img-top" src="assets/images/covid.jpeg" height="145" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Covid-Data</h5>
          <p class="card-text">
            Privat projekt. Ett av mina tidigare API projekt.<br>
            Är en enklare konsol application som hämtar covid data.<br><br>
            Tanken med projektet va att få en enklare kunskap i hur man använder sig av APIer.<br> 
            Projektet är färdigställt.
          </p>
        </div>
        <div class="card-footer" style="text-align:right;" *ngIf="cardSevenShowElemet">
          <!--<a href="https://github.com/Carpenteri1/Covid-Data" target="_blank"><fa-icon [icon]="githubIcon"></fa-icon></a>-->
        </div>
      </div>
      <div class="card card-shadow" (mouseover)="cardeightShowElemet = true" (mouseleave)="cardeightShowElemet = false">
        <img class="card-img-top" src="assets/images/cinema.jpg" height="145" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">BerrasCinema</h5>
        <p class="card-text">
          Ett av mina första MVC projekt. <br>
          Detta är ett skolprojekt, och tanken är att man ska kunna se biofilmer.<br>
          Kunden ska kunna se när filmen startar,<br>
          boka bio biljetter,<br><br>
          och kunna se antal platser kvar vid bio bokningen.<br>
          Tanken var att få en grundlig förstålse för .Net och MVC.
        </p>
        </div>
        <div class="card-footer" style="text-align:right;" *ngIf="cardeightShowElemet">
          <!--<a href="https://github.com/Carpenteri1/BerrasCinema" target="_blank"><fa-icon [icon]="githubIcon"></fa-icon></a>-->
        </div>
      </div>
      <div class="card card-shadow" (mouseover)="cardNineShowElemet = true" (mouseleave)="cardNineShowElemet = false">
        <img class="card-img-top" src="assets/images/warehouse.jpeg" height="145" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Warehouse</h5>
          <p class="card-text">
            Skolprojekt i sql.<br>
            Enkel konsol application där tanken var att få kunskap i entity framework, DbContext, dapper SQL/T-SQL.<br>
            Vi skulle sedan bygga ett lager med olika funtioner för att kunna spåra lage status, varior med mera. <br>
            Visa typer av varor passa heller inte överallt så detta var något man fick ha i åtanke också.
          </p>
        </div>
        <div class="card-footer" style="text-align:right;" *ngIf="cardNineShowElemet">
          <!--<a href="https://github.com/Carpenteri1/Warehouse" target="_blank"><fa-icon [icon]="githubIcon"></fa-icon></a>-->
        </div>
      </div>
      <div class="card card-shadow" (mouseover)="cardTenShowElemet = true" (mouseleave)="cardTenShowElemet = false">
        <img class="card-img-top" src="assets/images/starwars.jpeg" height="145" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title text-center">Starwars API</h5>
          <p class="card-text">
           Skolprojekt i javascript.
           Att få en grundlig kunskap i javascript och även hur man ringer en api.
           Data hämtas från swapi API och vi valde att fokusera på starwars karaktärer.<br><br>
           Layout och funktioner fick vi själva bygga, enda kravet var att det skulle fungera enligt kraven.
          </p>
        </div>
        <div class="card-footer" style="text-align:right;" *ngIf="cardTenShowElemet">
          <!--<a href="https://github.com/Carpenteri1/SWAPI-Web-Scrapper" target="_blank"><fa-icon [icon]="githubIcon"></fa-icon></a>
          <a href="https://carpenteri1.github.io/SWAPI-Web-Scrapper/page.html" target="_blank"><fa-icon [icon]="linkIcon"></fa-icon></a>-->
        </div>
      </div>
  </div>
</div>