.card{
    border-radius: 25px;
    font-size: 0.9em;
}
.container p{
    text-align: left;
    padding: 0.5em;

}

a {
    color:black;
    height: 1em;
    padding-left: 1em;   
}
.card-shadow {
    box-shadow: 0 4px 6px -6px gray;
    transition: all 400ms linear;
    /*transition-delay: 0s;*/
}
.card-shadow:hover{
    box-shadow: 0px 1px 9px 0px gray;
    
}

.grid-container {
    display: inline-grid;
    grid-gap: 30px 30px;
    grid-template-columns: auto auto auto auto;
}

@media (max-width:1400px) {
    .grid-container {
        grid-template-columns: auto auto auto;
        
    }

}
@media (max-width:991px) {
    .grid-container {
        grid-template-columns: auto auto;
    
    }
}
@media (max-width:450px) {
    .grid-container {
        grid-template-columns: auto;
        margin-left: auto;
    }
    .container {
        width: 24em;
    }
}

@media (max-width:400px) {
    .container {
        width: 22em;
    }
}

@media (max-width:380px) {
    .container {
        width: 20em;
    }
}