
.container{
    width: 48em;
    max-width: 100%;
}
.gridLayout h5{
    width: 30em;
    max-width: 100%;
}

.gridLayout{
    max-width: 100%;
    margin-top: 10em;
    display: grid;
    text-align: left;

}
@media (max-width:900px){
    .container{
        width: 40em;
    }
}


@media (max-width:767px){
    .container{
        width: 38em;
    }

    .gridLayout h5{
        width: 28em;
    }
    .gridLayout h1{
        width: 8em;
    }

}

@media (max-width:650px){
    .container{
        width: 34em;
    }

    .gridLayout h5{
        width: 24em;
    }
    .gridLayout h1{
        width: 8em;
    }

}

@media (max-width:530px){
    .container{
        width: 100%;
    }

    .gridLayout h5{
        width: 20em;
    }
    .gridLayout h1{
        width: 7em;
        font-size: 3.5em !important; 
    }
    .gridLayout{
        width: 20em;
    }

}

@media (max-width:420px){
    .gridLayout h5{
        width: 100%;
        max-width: 100%;
    }
    .gridLayout h1{
        width: 6.5em;
        font-size: 3em !important; 
    }
}


@media (max-width:330px){
    .gridLayout h5{
        width: 14em;
    }
    .gridLayout h1{
        width: 6em;
    }
}


@media (max-width:310px){
    .gridLayout h5{
        width: 12em;
    }
    .gridLayout h1{
        width: 5em;
    }
}



