.container{
  width: 100vh;
}

.progress-loaded{
  background-color: #313d4b;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
  height:18px;
}

.progress{
  padding: 0%;
}

.progress-text{ 
  padding-left: 1em;
  color: black !important;
}

.skill-main {
  width: 100%;
  max-width: 600px;
  display: flex;
  align-self:normal;
  flex-direction: column;
  gap: 20px;
}
  .skill-wrrap {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 2.5em;
  }
    .skill-name {
      color: #ffffff;
      font-size: 12x;
      padding-left: 10px;
    }

    .skill-bar {
      height: 20px;
      background-color: #00283a;
      border-radius: 8px;
    }

    .skill-per {
      height: 20px;
      background: #23576f;
      border-radius: 8px;
      width: 0;
      transition: 1s linear;
      position: relative;
      &:before {
        content: attr(per);
        position: absolute;
        padding: 4px 6px;
        background-color: #23576f;
        color: #fff;
        font-size: 11px;
        border-radius: 4px;
        top: -35px;
        right: 0;
        transform: translateX(50%);
      }

      &:after {
        content: "";
        position: absolute;
        width: 10px;
        height: 10px;
        background-color: #23576f ;
        top: -20px;
        right: 0;
        transform: translateX(50%) rotate(45deg);
        border-radius: 2px;
      }
    }
/*  
@media only screen and (max-width: 835px),
screen and (max-height: 520px) {
    .setspace{
      padding:0;
    }
}

@media only screen and (max-width: 767px),
screen and (max-height: 655px) {
    .progress{
      height: 1.2em;
      width: 85%;
    }
}

@media only screen and (max-width: 575px){
    p{
        font-size:0.7em;
    }
    .progress{
      width: 100%;
      margin-top: -1.5em;
    }
    .col-sm-4 p{
      text-align: center;
    }

}

@media only screen and (min-height: 420px ){
  .setspace{
    padding:0;
  }
  .progress{
    height: 2em !important;
  }
}


@media only screen and (max-width: 420px),
screen and (max-height: 535px) {
  .progress{
    height: 1em;
  }
}

@media only screen and (max-width: 250px),
screen and (max-height: 450px) {
    p{
        font-size:0.6em;
    }
    .progress{
      height: 0.8em;
    }
}*/