<div class="container">
    <div class="grid-container shadow-sm p-4">
        <a href="https://andremedvanner.se/" target="_blank">
            <img src="assets/images/amv-site-logo-2020.png" height="70" width="140">
        </a>
        <a href="https://campus.varberg.se/" target="_blank">
            <img src="assets/images/campusLogo.png" height="70" width="140">
        </a>
        <a href="http://craftsman.se/"  target="_blank">
            <img src="assets/images/craftsman_logo1.jpg" height="70" width="120">
        </a>
        <a href="https://optidev.se/"  target="_blank">
            <img src="assets/images/optidev-logo.png" height="70" width="120">
        </a>
    </div>
</div> 
<footer-component>
</footer-component> 