<div class="container mt-4 mb-4 text-center" style="height: 45.1em;">
    <div style="height: 10em;"></div>
    <h2 style="font-weight: bold;">Referenser</h2>
    <div class="card card-shadow p-4" style="margin-left: 22.5em;width: 34em;border-radius: 25px">
        <div class="row">
            <a href="https://andremedvanner.se/" class="w-25" target="_blank">
                <img src="assets/images/amv-site-logo-2020.png" height="70" width="140">
            </a>
            <a href="https://campus.varberg.se/" class="w-25" style="margin-left: 4em;" target="_blank">
                <img src="assets/images/campusLogo.png" height="70" width="140">
            </a>
            <a href="http://craftsman.se/" class="w-25" style="margin-left: 4em;" target="_blank">
                <img src="assets/images/craftsman_logo1.jpg" height="70" width="120">
            </a>
        </div>

    </div>
</div>
