.container{
    width: 45em;
    max-width: 100%;
    margin-top: 10em;
}
.grid-container {
 
    display: grid;
    margin-top: 5em;
    grid-gap: 40px;
    grid-template-columns: auto auto auto auto;
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid rgba(0,0,0,.125);
}
.footer 
{   
    bottom: 0;
    position: fixed;
    width: 100%;
    max-width: 100%;
}



@media (max-width:767px) {
    .grid-container {
        margin-left: 0em;
        grid-gap: 40px 80px;
        grid-template-columns: auto auto;
    }  
    .container{
        width: 28em;
    }
}

@media (max-width:435px) {
    .grid-container {
        grid-gap: 40px 40px;
        grid-template-columns: auto;
    }  
    .container{
        width: 13.5em;        
    }
}