.container{
    width: 45em;
    height: 100vh;
    max-width: 100%;
    margin-top: 8.5em;
}
.grid-container {
    display: grid;
    grid-gap: 40px;
    grid-template-columns: auto auto auto auto;
    background-color: #fff;
    border-radius: 25px;
    border: 1px solid rgba(0,0,0,.125);
}

@media (max-width:767px) {
    .grid-container {
        margin-left: 0em;
        grid-gap: 40px 80px;
        grid-template-columns: auto auto;
    }  
    .container{
        width: 28em;
    }
}



@media (max-width:435px) {
    .grid-container {
        grid-gap: 40px 40px;
        grid-template-columns: auto;
    }  
    .container{
        width: 13.5em;        
    }
    .footer 
    {   
        position: relative;
    }
}

@media (max-height:600px) {
    .container{      
        margin-bottom: 4em;
    }
    .footer 
    {   
        position: relative;
    }
}

@media (max-height:500px) {
    .container{      
        margin-top: -2em;
    }
}