<div class="scroll-button-container">
  <div class="form-check">
    <label class="form-check-label">
      <div (click)="clickScroll(sections['sectionOne'])" class="side-buttons" name="optradio" id="sectionOneInput"></div>
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <div (click)="clickScroll(sections['sectionTwo'])" class="side-buttons" name="optradio" id="sectionTwoInput"></div>
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <div (click)="clickScroll(sections['sectionFour'])" class="side-buttons" name="optradio" id="sectionThreeInput"></div>
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <div (click)="clickScroll(sections['sectionFive'])" class="side-buttons" name="optradio" id="sectionFourInput"></div>
    </label>
  </div>
</div>