.scroll-button-container {
  position: fixed;
  top: 35%;
  width: 0em;
  padding-right: 2.5em;
  right: 0;
}

.form-check{
  padding: 1em;
}

.side-buttons{
  height: 0.5em;
  padding: 0.5em;
  width: 0.5em;
  border-radius: 50%;
  background-color: #4d4a4a;
  border:1px solid black;
}

.side-buttons:hover{
  cursor: pointer;
}

@media (max-width: 768px) {
  .scroll-button-container{
    display: none;
  }
}