<div class="scroll-button-container">
  <div class="form-check">
    <label class="form-check-label">
      <div (click)="OnClick(domElements['1'])" class="side-buttons" name="optradio" [ngClass]="{'checked': currentSection === 1}"></div>
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <div (click)="OnClick(domElements['2'])" class="side-buttons" name="optradio" [ngClass]="{'checked': currentSection === 2}"></div>
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <div (click)="OnClick(domElements['3'])" class="side-buttons" name="optradio" [ngClass]="{'checked': currentSection === 3}"></div>
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <div (click)="OnClick(domElements['4'])" class="side-buttons" name="optradio" [ngClass]="{'checked': currentSection === 4}"></div>
    </label>
  </div>
</div>