<div class="scroll-button-container">
  <div class="form-check">
    <label class="form-check-label">
      <div (click)="ScrollAction(sections['1'])" class="side-buttons" name="optradio" id="sectionOneInput"></div>
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <div (click)="ScrollAction(sections['2'])" class="side-buttons" name="optradio" id="sectionTwoInput"></div>
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <div (click)="ScrollAction(sections['3'])" class="side-buttons" name="optradio" id="sectionThreeInput"></div>
    </label>
  </div>
  <div class="form-check">
    <label class="form-check-label">
      <div (click)="ScrollAction(sections['4'])" class="side-buttons" name="optradio" id="sectionFourInput"></div>
    </label>
  </div>
</div>