
@media only screen and (max-height: 950px)
{
    .container-fluid p{
        font-size:1.3em;
    }
}

@media only screen and (max-height: 900px)
{
    .container-fluid{
        border:2px solid red;
    }
    .container-fluid p{
        font-size:1.1em;
    }
}

@media only screen and (max-height: 950px),
screen and (max-width:991px)
{
    .container-fluid p{
        font-size:0.9em;
    }
}