.max-icon-size{
    height: 40px;
    width: 40px;
}
.bg-secondary{
  background-color: #101319 !important;
  border:1px solid white !important;
}
.bg-secondary:hover{
  border:none !Important;
  background: linear-gradient(135deg, #0d6efd, #6610f2);
}
