<div style="height: 12em;"></div>
<div class="container text-center" style="width: 50%;">
<div class="row">
    <div class="col-3 w-25 cardOne" >
          <div class="card card-shadow ">
            <div class="card-body" >
              <h5 class="card-title text-center">GitHub</h5>
            </div>
          </div>
    </div>
    <div class="col-3 w-25" style="border-left: 1px solid grey;">
        <div class="card card-shadow" >
          <div class="card-body" >
            <h5 class="card-title text-center">LinkedIn</h5>
          </div>
        </div>
    </div>
    <div class="col-3 w-25" style="border-left: 1px solid grey;">
        <div class="card card-shadow" >
          <div class="card-body" >
            <h5 class="card-title text-center">Mail</h5>
          </div>
        </div>
    </div>
    <div class="col-3 w-25" style="border-left: 1px solid grey;">
        <div class="card card-shadow" >
          <div class="card-body" >
            <h5 class="card-title text-center">Mail</h5>
          </div>
        </div>
    </div>
  </div>
</div>
