<div class="spacer-sm-no-line"></div>
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-5">
      <h5 class="m-2">Niclas Timle</h5>
      <h2>.Net Developer</h2>
      <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ullam optio dicta totam maiores qui unde quo
        dolore, voluptas sed quod vel quos aspernatur saepe voluptate at expedita quidem ad corporis?</p>
      <a href="/images/myw3schoolsimage.jpg" download>Download</a>
    </div>
    <div class="col-4">
      <img src="pic_trulli.jpg" alt=" No Image Found">
    </div>
    <div class="col-1"></div>
  </div>
</div>
<div class="spacer-high-line"></div>
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <carousel-component></carousel-component>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<div class="spacer-high-line"></div>
<div class="container">
  <div class="row">
    <div class="col-2"></div>
    <div class="col-8">
      <p>As a .NET developer with almost 3 years of experience, I have worked on several projects with significant
        responsibility in the development process. My technical skills include knowledge of dotnet core and framework, C#,
        REST-API, SQL, T-SQL, JavaScript, HTML, CSS, Blazer, MVC, Xamarin, Java, and Android.<br><br>
  
        One of my most significant achievements was working on a website for a customer of Andre med vänner. My colleague,
        a UX designer, and I collaborated on developing the website, including creating a custom CMS. The CMS allowed the
        customer to log in with a crypted password and have the ability to change text, images, layout, and add or remove
        webpages. The CMS project was then connected to the main page, making it easy for the customer to manage their
        website.<br><br>
  
        I have also worked on several projects for Techstep, where I was responsible for developing apps in Xamarin and
        Android for clients such as Postnord, Axess Logistics, Gjosjö, E.ON, DHL, and many more. I have experience working
        on both backend and frontend development, but my focus has mostly been on frontend development. My duties included
        developing functions, layouts, looking at error logs, bug fixing, handling different events with Docker and
        Rancher, and delivering excellent solutions to our customers. My team and I also maintained close contact with
        customers and planned workflows using Scrum and Agile methodologies.<br><br>
  
        I am proud of my work on the Gnosjo project, which gave me complete responsibility for developing a solution that
        allowed customers to track pallets with materials by scanning barcodes and RFID tags using their phones. The
        solution connected to a back-office database, enabling users to track all the relevant data.<br><br>
  
        As a passionate and driven developer, I enjoy creating solutions using cutting-edge technology. While my main
        focus is .NET development, I am always keen to explore new technologies and frameworks as long as they relate to
        my work with .NET. I look forward to bringing my skills and experience to new challenges and opportunities in the
        future.
      </p>
    </div>
    <div class="col-2"></div>
  </div>
</div>
<div class="spacer-sm-no-line"></div>