.background-image {
    text-align: left;
    background-image: url('/assets/images/Untitled.jpg');
    background-position:bottom; /* Center the image */
    height: 30em;
    padding-top: 5%;
  }

  .banner-content-container{
    padding-top: 8%;
  }
  .content-container{
    height: 25em;
    padding-top: 5%;
  }
  .row .content-row{
    width: 80%; 
    background-color: #252525;
    margin:auto
  }
  .card-border{
    border-radius: 0.5em 0.5em 0.5em 0.5em !important;
    background-color: #1b1b1b !important;
    border: 2px solid #b29600 !important;
    color: white;
  }
  .card-container{
    background-color: gray;
    padding-top:8%;
    padding-bottom: 8%;
  }