html,
body {
  margin: 0px;
  height: 100%;
  width: 100%;
  color: white;
  background-color: #2E3445;
  overflow: hidden;
}

.title {
  font-size: 10em;
}

p,
h1,
h2,
h3,
h4,
h5 {
  font-family: 'Courier New', Courier, monospace;
  font-weight: bold;
  color: white !important;
}
header,
footer {
  background-color: #2E3445 !important;
}

.full-page {
  height: 100vh;
  border-color: #b29600;border-style: solid;
}

.scroll-dots-container {
  position: fixed;
  display: flex;
  flex-direction: column;
  margin-top: 42vh;
  width: 4%;
  right: 0;
}

.scroll-dot {
  margin-top: 20px;
  width: 1vh;
  height: 2vh;
  border-radius: 100%;
  background-color: white;
  border-color: white; 
}