<div #sectionOne id="1" class="section-layout">
  <typewriter></typewriter>
  <div #jumpingArrow class="jumping-arrow"><i class="bi bi-arrow-down"></i></div>
</div>
<div #sectionTwo id="2" class="section-layout">
  <carousel-component class="section-container"></carousel-component>
</div>
<div #sectionThree id="3" class="section-layout">
  <cardlayout-component class="section-container"></cardlayout-component>
</div>
<div #sectionFour id="4">
  <footer-component></footer-component>
</div>
<div>
  <scrollbutton-component [domElements]="sections"></scrollbutton-component>
</div>
