[id="1"],
[id="3"]{
  background-color: #2E3445;
}
[id="3"]{
  border-bottom: solid 1px #b29600;
}

[id="2"],
[id="4"]{
  background-color: #313d4b;
}

/*Buttons*/
.no-outline{
  border: none;
  outline: none;
  background-color: #313d4b;
}

button > i {
  color:#b29600;
  font-size:40px;
} 

p,
h1,
h2,
h3,
h4,
h5 {
  font-family: "Consolas", "Courier New", monospace;
  color: white !important;
}

.section-layout {
  height: 99.5vh;
  border-top: solid 2px #b29600;
  display: flex; 
  justify-content: center;
  align-items: center;
}

.always-on-button {
  display: none;
}

.bi-arrow-down {
     display: none;
}

@media (max-width: 1366px) {

  .bi-arrow-down{
    display: block;
  }
  .jumping-arrow {
    background-color: transparent;
    position: fixed;
    color: #b29600;
    border: none;
    border-radius: 5px;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    z-index: 1;
    transition: background-color 0.3s;
    animation: jump 1.2s ease-out infinite;
  }

  @keyframes jump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-50px);
    }
    100% {
      transform: translateY(0); 
    }
  }
}