<div #sectionOne id="sectionOne" class="section-layout">
  <typewriter></typewriter>
</div>
<div #sectionTwo id="sectionTwo" class="section-layout">
  <carousel-component class="container-fluid"></carousel-component>
</div>
<div #sectionThree id="sectionThree" class="section-layout">
  <cardlayout-component class="container-fluid"></cardlayout-component>
</div>
<div #sectionFour id="sectionFour">
  <footer-component></footer-component>
</div>
<div>
  <scrollbutton-component [sections]="sections"></scrollbutton-component>
</div>
