.container{
    max-width: 800px;
}

.mx-auto{
    max-width: 400px;
}

/* Blinking cursor styles */
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

a:hover{
    background: linear-gradient(135deg, #0d6efd, #6610f2);
    border: 1px solid #29303d;
    color: #f0f2f4;
}

.blinking-cursor {
    animation: blink 2s infinite;
    font-size: 18px;
}

.none-blinking-cursor {
    font-size: 18px;
}
