<div class="test">
    <div class="container">
        <div class="row row-cols-2" style="padding-top: 10em;">
          <div class="col-xs-2" style="border: 2px solid red;width: 30em;padding-left: 10em;"> 
            <img src="/assets/images/port.jpg" class="rounded-circle" width="250" height="236" >   
        </div>
          <div class="col-10" style="border:2px solid green;">
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Autem incidunt nemo voluptatem possimus quibusdam laudantium aperiam quia corporis dolorum assumenda quaerat perferendis vitae, culpa earum quasi temporibus aspernatur tempora debitis!</p>
          </div>
        </div>
      </div>
</div>
