<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="title p-3">{{ titleOne }} <span style="font-size: 20px;">{{titleOneCursor}}</span></h1>
      <h1 class="p-4 titleTwo">{{ titleTwo }} <span style="font-size: 20px;">{{titleTwoCursor}}</span>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="p-4 infotext">{{ textValue }}
        <span class="blinking-cursor" style="font-size: 20px;">{{blinkingCursor}}</span>
        <span>{{cursor}}</span>
      </p>
    </div>
  </div>
</div>