<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="title p-3">{{ titleOne }} <span class="none-blinking-cursor">{{titleOneCursor}}</span></h1>
      <h1 class="p-4 titleTwo">{{ titleTwo }} <span class="none-blinking-cursor">{{titleTwoCursor}}</span>
      </h1>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <p class="p-4 infotext">{{ textValue }}
        <span class="blinking-cursor">{{blinkingCursor}}</span>
        <span class="none-blinking-cursor">{{cursor}}</span>
      </p>
    </div>
  </div>
</div>