.title {
    text-align: center;
}

/* Blinking cursor styles */
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.blinking-cursor {
    animation: blink 2s infinite;
    color: #b29600;
    font-size: 30px;
}

.none-blinking-cursor {
    color: #b29600;
    font-size: 30px;
}

.highlight-SurName::after {
    content: "Timle";
    color:  #b29600;
}

.titleTwo::after{
    text-align: center;
}

@media (max-width: 767px) {
    .title {
        font-size: 17vw;
    }
    h2,
    .blinking-cursor,
    .none-blinking-cursor  {
        font-size: 4.5vw;
    }
}
/*
@media (max-width: 460px) {
    h2,
    .blinking-cursor,
    .none-blinking-cursor {
        font-size: 4.5vw;
    }
}*/
