.title {
    text-align: center;
    width: 100%;
}

.titleTwo {
    padding-top: 3em;
    width: 100%;
}

div.titleTwo h2 {
    padding-left: 7em;
}

.infotext {
    padding-left: 1.8em;
}

/* Blinking cursor styles */
@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

.blinking-cursor {
    animation: blink 2s infinite;
    color: #b29600;
    font-size: 30px;
}

.none-blinking-cursor {
    color: #b29600;
    font-size: 30px;
}

.highlight-SurName::after {
    content: "Timle";
    color:  #b29600;
}


@media only screen and (max-width: 1399px) {
    div.titleTwo h2 {
        padding-top: 0em;
        padding-left: 2em;
    }
}

@media only screen and (max-width: 1200px) {
    div.titleTwo h2 {
        font-size: 24px;
    }
}

@media only screen and (max-width: 992px) {
    div.titleTwo h2 {
        padding-left: 2.5em;
        font-size: 28px;
    }
}

@media only screen and (max-width: 768px) {
    div.titleTwo h2 {
        padding-left: -1em;
        font-size: 22px;
    }
    h1{
        font-size: 100px;
    }
}

@media only screen and (max-width: 576px) {
    div.titleTwo h2 {
        padding-left: 5em;
        font-size: 18px;
    }

    h1{
        font-size: 80px;
    }

    .container .row:nth-child(2) {
        width: 80%;
        margin-left: 3em;
    }

    .blinking-cursor,
    .none-blinking-cursor {
        font-size: 20px;
    }
}

@media only screen and (max-width: 478px) {
    div.titleTwo h2 {
        font-size: 18px;
    }

    h1{
        font-size: 80px;
    }

    .container .row:nth-child(2) {
        width: 70%;
    }


}

@media only screen and (max-width: 478px) {
    div.titleTwo h2 {
        font-size: 18px;
        padding-left: 3em;
    }

    h1{
        font-size: 80px;
    }

    .container .row:nth-child(2) {
        width: 90%;
        margin-left: 0em;
    }


}
