
.dropbtn {
    background-color: #1b1b1b;
    color: white;
    padding: 16px;
    font-size: 30px;
    border: none;
    cursor: pointer;
  }
 
  .dropdown-content {
    width: 12em;
    margin-left: -11em;
    margin-top: -4em;
    background-color: #1b1b1b;
    color:white;
    position: absolute;
    border-radius: 0px 0px 25px 25px;
  }
  
  .dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  .dropdown-content:hover .dropdown-content{  
        display: none;
    } 
  .header-container-phone:hover .dropdown-content {
    display: block;
  }


.header-container-desktop{
    display: grid;
    grid-template-columns: auto auto;
}
.header-container-phone{
    display: none;
}
.coloumn-right{
    text-align: right !important;
}
.coloumn-left{
    text-align: left !important;
}
h3{
    margin-left: -2em !important;
}
#routeList > a{
    margin-left: 2em;
    text-decoration: none;
    color:white;
}
#routeList > a:hover{
    color:#62B1F6;

}

#routeTitle > a{
    margin-left: 2em;
    text-decoration: none;
    color:white;
}
#routeTitle > a:hover{
    color:#62B1F6;

}

@media(max-width:600px){
    .header-container-desktop{
        display: none;
    }
    .header-container-phone{
        position: relative;
        display: inline-block;
        margin-left: 90%;
    } 
}
@media(max-width:420px){
    
    .header-container-phone{
        margin-left: 85%;
    } 
}

@media(max-width:340px){
    
    .header-container-phone{
        margin-left: 80%;
    } 
}

@media(max-width:250px){
    
    .header-container-phone{
        margin-left: 70%;
    } 
}

@media(max-width:180px){
    
    .header-container-phone{
        margin-left: 65%;
    } 
}