
    <div class="top-row d-flex" >
      <div class="w-25" id="top-title">
        <h3  id="routeTitle">
          <a routerLink="">Niclas Timle</a>
        </h3>
      </div>
      <div style="order:2;width: 48%;"></div>  
      <div style="order:3;" class="mt-2" id="routeList">
        <a routerLink="">Home</a>
        <a routerLink="/About">About</a>
        <a routerLink="/Portfolio">Portfolio</a>
        <a routerLink="/References">References</a>
        <a routerLink="/Contact">Contact</a>
      </div>
    </div>