<div class="container">
  <div class="header-container-desktop">
    <div class="coloumn-left mt-2">
        <h3  id="routeTitle" style="text-align: left;">
          <a routerLink="">Hem</a>
        </h3>
    </div>
    <div class="coloumn-right">
      <div class="mt-2" id="routeList">
        <a routerLink="/Portfolio">Portfolio</a>
        <a routerLink="/References">Referenser</a>
        <a routerLink="/About">Mer om mig</a>
        <a routerLink="/Contact">Kontakta</a>
      </div>
    </div>
  </div>
  <div class="header-container-phone">
    <button class="dropbtn"><fa-icon [icon]="menuIcon"></fa-icon></button>
    <div class="dropdown-content"  id="routeList"> 
      <a routerLink="">Hem</a>
      <a routerLink="/Portfolio">Portfolio</a>
      <a routerLink="/References">Referenser</a>
      <a routerLink="/About">Mer om mig</a>
      <a routerLink="/Contact">Kontakta</a>
    </div>
  </div>
</div>

