<footer class="container-fluid footer-content">
    <div class="row">
        <div class="col-sm"></div>
        <div class="col-sm">
            <ul class="navbar-nav">
                <li class="pb-2" style="font-weight: bold;">Innehåll</li>
                <li><a  class="nav-item" routerLink="">Hem</a></li>
                <li><a  class="nav-item" routerLink="/Portfolio">Portfolio</a></li>
                <li><a  class="nav-item" routerLink="/References">Referenser</a></li>
                <li><a  class="nav-item" routerLink="/About">Mer om mig</a></li>
                <li><a  class="nav-item" routerLink="/Contact">Kontakta</a></li>
            </ul>     
        </div>
        <div class="col-sm">
            <ul class="navbar-nav">
                <li class="pb-2" style="font-weight: bold;">Innehåll</li>
                <li><a  class="nav-item" routerLink="">Hem</a></li>
                <li><a  class="nav-item" routerLink="/Portfolio">Portfolio</a></li>
                <li><a  class="nav-item" routerLink="/References">Referenser</a></li>
                <li><a  class="nav-item" routerLink="/About">Mer om mig</a></li>
                <li><a  class="nav-item" routerLink="/Contact">Kontakta</a></li>
            </ul>  
        </div>
        <div class="col-sm">
            <ul class="navbar-nav">
                <li class="pb-2" style="font-weight: bold;">Innehåll</li>
                <li><a  class="nav-item" routerLink="">Hem</a></li>
                <li><a  class="nav-item" routerLink="/Portfolio">Portfolio</a></li>
                <li><a  class="nav-item" routerLink="/References">Referenser</a></li>
                <li><a  class="nav-item" routerLink="/About">Mer om mig</a></li>
                <li><a  class="nav-item" routerLink="/Contact">Kontakta</a></li>
            </ul>  
        </div>
        <div class="col-sm">
            <ul class="navbar-nav">
                <li class="pb-2" style="font-weight: bold;">Innehåll</li>
                <li><a  class="nav-item" routerLink="">Hem</a></li>
                <li><a  class="nav-item" routerLink="/Portfolio">Portfolio</a></li>
                <li><a  class="nav-item" routerLink="/References">Referenser</a></li>
                <li><a  class="nav-item" routerLink="/About">Mer om mig</a></li>
                <li><a  class="nav-item" routerLink="/Contact">Kontakta</a></li>
            </ul>  
        </div>
        <div class="col-sm"></div>
      </div>
</footer> 