<footer> 
       <div class="row pt-2">
         <div class="col-2"></div>
         <div class="col-8 text-center">
            <h2>{{contactMeAt}}</h2>
         </div>
         <div class="col-2"></div>
       </div>
    <div class="row pb-2">
      <div class="col-2"></div>
      <div class="col-8 text-center">
         <a class="bi bi-linkedin" href="https://www.linkedin.com/in/niclas-timle/" target="_blank"></a>
         <a class="bi bi-github p-4" href="https://github.com/Carpenteri1" target="_blank"></a>
         <a class="bi bi-envelope" href="mailto:niclastimle@icloud.com" target="_blank"></a>      </div>
      <div class="col-2"></div>
    </div>
 </footer> 