.footer-content{
    display: grid;
    grid-template-columns:auto auto auto auto;
    background-color: #252525;
    color:white; 
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 4em;
    border-top: 1.5px solid #b29600;    

}

@media (max-width:600px){
    .footer-content{
        grid-template-columns:auto auto;

    }
}

@media (max-width:400px){
    .footer-content{
        position: relative;

    }
}

@media (max-width:360px){
    .footer-content{
        grid-template-columns:auto;

    }
}