<div style="background-color: #252525;color:white;">
    <div class="container">
        <div class="row pt-4">
            <div class="col-3 w-25">
                <ul style="list-style: none;">
                    <li class="pb-2" style="font-weight: bold;">Här finns jag</li>
                    <li>Varberg</li>
                </ul>
            </div>
            <div class="col-3 w-25">
                <ul style="list-style: none;">
                    <li class="pb-2" style="font-weight: bold;">Kontakta</li>
                    <li><a style="text-decoration: none;color:white;" href="mailto:Niclastimle@protonmail.com" mail>Niclastimle@protonmail.com</a></li>
                </ul>
            </div>
            <div class="col-3 w-25">
                <ul style="list-style: none;">
                    <li class="pb-2" style="font-weight: bold;">Innehåll</li>
                    <li><a  style="text-decoration: none;color:white;" routerLink="">Hem</a></li>
                    <li><a  style="text-decoration: none;color:white;" routerLink="/Portfolio">Portfolio</a></li>
                    <li><a  style="text-decoration: none;color:white;" routerLink="/References">Referenser</a></li>
                    <li><a  style="text-decoration: none;color:white;" routerLink="/About">Mer om mig</a></li>
                    <li><a  style="text-decoration: none;color:white;" routerLink="/Contact">Kontakta</a></li>
                </ul>
            </div>
            <div class="col-3 w-25">
                <ul style="list-style: none;">
                    <li class="pb-2" style="font-weight: bold;">Sociala Medier</li>
                    <li><a href="https://www.linkedin.com/in/niclas-timle/" target="_blank" style="color:white;"><fa-icon [icon]="linkedIn"></fa-icon></a></li>
                    <li><a href="https://github.com/Carpenteri1" target="_blank" style="color:white;"><fa-icon [icon]="github"></fa-icon></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>