<div class="container-fluid">
  <div class="row">
    <div class="col-xl-1 col-lg-1 button-on-side">
      <button class="no-outline" (click)="toggleGroup('left')"><i class="bi bi-arrow-left"></i></button>
    </div>
    <div class="col-xl-10 col-lg-10 col-md-12 col-sm-12 col-xs-12 mx-auto" >
      <div class="card-container">
        <div class="card-group" [style.transform]="'translateX(' + (cardWidth) + 'px)'" [style.opacity]="visable ? '1' : '0'">
          <div class="card shadow-custom" style="border-radius: 8%;" *ngFor="let card of getVisibleCards(); let i = index">
            <div class="card-body">
              <h5 class="card-title">{{card.title}}</h5>
              <p class="card-text">{{card.text}}</p>
              <a [href]="card.url" target="_blank" class="stretched-link"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-1 col-lg-1 button-on-side">
      <button class="no-outline" (click)="toggleGroup('right')"><i class="bi bi-arrow-right"></i></button>
    </div>
    <div class="button-on-one-row">
      <div class="col-2"></div>
      <div class="col-8 d-flex justify-content-between align-items-center">
        <button class="no-outline" (click)="toggleGroup('left')"><i class="bi bi-arrow-left"></i></button>
        <button class="no-outline" (click)="toggleGroup('right')"><i class="bi bi-arrow-right"></i></button>
      </div>
      <div class="col-2"></div>
    </div>
  </div>
</div>
