p{
  font-size: 14px;
}

h5{
  font-size: 24px;
}

h2 > i{
  color: #b29600;
}

.card-group {
  text-align: center;
  gap: 1rem;
  transition: transform 0.4s ease-in;

}

.card-header{
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color: #00283a;
}

.card {
  width: 95%;
  height: 350px;
  overflow: hidden;
  position: relative;
  background-color: #313d4b;
  transition: transform 1s ease, box-shadow 1s ease;
}

.card-body{
  flex-direction: column;
  padding-top: 2.5em;
}

.tags {
  display: flex;
  justify-content: center;
  gap: 0.3rem;
  align-items: center;
  flex-wrap: wrap;
}

.tag {
  outline: 1px solid #b29600;
  color: white;
  padding: 0.2rem;
  font-size: 10px;
  transition: 250ms ease;
}

button {
  background-color: #2E3445;
  cursor: pointer;
}

.card:hover {
  transform: scale(1.05);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 10);
}

@media (max-width: 876px) {
  .card-group{
    margin: auto;
    margin-top: -3em;
    height: 650px;
    width: 280px;
    flex-direction: column;
  }
  .card-header {
    margin: auto;
    width: 100%;
  }
  .card-header > h4{
    font-size: 16px;
  }
  .card-body{
    padding: 12px;
  }
  .card-body > h2
  {
    font-size: 16px;
  }
  .card-body > p
  {
    font-size: 10px;
  }
}

@media (max-width: 575px) {

  .card{
    position: relative;
    height: 210px;
  }
}

@media (max-width: 445px) {
  .card{
    width: 60vw;
  }
}

/**--IPhoneSE--**/
@media screen and (max-width: 375px), 
       screen and (max-height: 667px) {
  .card-group{
    width: 100%;
    height: 100%;
    margin: auto;
    margin-bottom: 90px;
  }
  .card{
    height: 150px;
    margin: auto;
    margin-top: 10px;
  }
  
  .card-header > h4{
    font-size: 10px;
  }
  .card-body > h2
  {
    font-size: 14px;
  }
  .card-body > p
  {
    font-size: 8px;
  }
  .tag{
    font-size: 6.5px;
  }
  
}

@media (max-width: 350px) {
  .card-header > h4{
    font-size: 10px;
  }
  .card-body > h2
  {
    font-size: 14px;
  }
  .card-body > p
  {
    font-size: 8px;
  }
  .tag{
    font-size: 6.5px;
  }
}

/**--IPhone 5/4 --**/
@media screen and (max-width: 320px), 
       screen and (max-height: 568px) {
  .card-group{
    width: 200px;
    height: 100%;
    margin: auto;
    margin-bottom: 30px;
  }
  .card{
    height: 140px;
    width: 80%;
    margin: auto;
    margin-top: 4px;
  }
  .card-header{
    height: 25px;
  }
  .card-header > h4{
    font-size: 8px;
  }
  .card-body > h2
  {
    font-size: 14px;
  }
  .card-body > p
  {
    margin-top: -1em;
    font-size: 8px;
  }
  .card-body >  h2 > i
  {
    display: none;
  }
  .tag{
    font-size: 6.5px;
  }

  
  
}