<div class="container">
  <div class="row">
    <!--<div class="col-xl-1 col-l-1 col-sm-1" style="border:1px solid blue;"></div>-->
    <div class="col-xl-1 col-l-1 col-sm-1" style="border:2px solid red;">
      <button class="no-outline" (click)="toggleGroup('left')"><i class="bi bi-arrow-left"></i></button>
    </div>
    <div class="col-xl-10 col-l-10 col-sm-10 mx-auto" style="border:2px solid yellow;">
      <div class="card-container">
        <div class="card-group" [style.transform]="'translateX(' + (cardWidth) + 'px)'" [style.opacity]="visable ? '1' : '0'">
          <div class="card shadow-custom" style="border-radius: 8%;" *ngFor="let card of getVisibleCards(); let i = index">
            <div class="card-body">
              <h5 class="card-title">{{card.title}}</h5>
              <p class="card-text">{{card.text}}</p>
              <a [href]="card.url" target="_blank" class="stretched-link"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-1 col-l-1 col-sm-1" style="border:2px solid red;">
      <button class="no-outline" (click)="toggleGroup('right')"><i class="bi bi-arrow-right"></i></button>
    </div>
    <!--<div class="col-xl-1 col-l-1 col-sm-1" style="border:1px solid blue;"></div>-->
  </div>
</div>
