.card-group {
  /*display: flex;*/
  transition: transform 0.4s ease-in-out;
  text-align: center;
}
.container-fluid{
  width: 95%;
}

button{
  background-color: #2E3445;
}


.button-on-one-row{
  display: none;
}

/*Center button inside*/
.col-xl-1,
.col-lg-1,
.col-md-1,
.col-sm-1,
.col-xs-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  }
  .col-lg-6,
  .bi-arrow-left
  {
    margin-bottom: 2em;
  } 
/*767px*/
  .shadow-custom:hover{
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .25), 0 3px 11px 8px rgba(0, 0, 0, .55) !important;
  }

  .card {
    margin-right: 1em;
    margin-left: 1em;

    background-color: #b3b3b3;
    opacity: 80%;
  }

  .card:hover{
    opacity: 100%;
  }

  .card-text{
    color:black !important;
    font-size: small;
  }

  .card-title{
    color:black !important;

  }

  .card-footer{
    font-size: x-small;
    text-align: right;
  }
  

@media (max-width:991px) {
  .button-on-one-row{
    display: flex;
  }
  .button-on-side{
    display: none;
  }
}

@media (max-width: 575px) {
  /* Styles for phones */
  .col-xl-2,
  .col-l-2,
  .col-sm-2 {
      flex: 1 0 100%;
  }
  .col-xl-8 {
      flex: 1 0 100%;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  /* Styles for small tablets */
  .col-xl-2,
  .col-l-2,
  .col-sm-2 {
      flex: 1 0 33.33333%;
  }
  .col-xl-8 {
      flex: 1 0 66.66667%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Styles for larger tablets */
  .col-xl-2,
  .col-l-2,
  .col-sm-2 {
      flex: 1 0 25%;
  }
  .col-xl-8 {
      flex: 1 0 75%;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  /* Styles for smaller PCs */
  .col-xl-2,
  .col-l-2,
  .col-sm-2 {
      flex: 1 0 20%;
  }
  .col-xl-8 {
      flex: 1 0 60%;
  }
}

@media (min-width: 1200px) {
  /* Styles for larger PCs */
  .col-xl-2,
  .col-l-2,
  .col-sm-2 {
      flex: 1 0 15%;
  }
  .col-xl-8 {
      flex: 1 0 70%;
  }
}