@import "bootstrap/dist/css/bootstrap.css";
@import "src/app/Styles/Animations.css";
@import "src/app/Styles/Layouts.css";
@import "src/app/Styles/Colors.css";

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

