@import "bootstrap/dist/css/bootstrap.css";

html,body{
  background-color: #101319;
}

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h1,h2,h3{
    color: #8b42f0;
}

p{
    color:#8f96a3;
}

.btn{
    border:1px solid #dcdfe5;
    color:#f0f2f4;
}

.min-vh-90 {
  min-height: 90vh;
}

.mt-6{
  margin-top: 6em;
}

.gradient-text {
  background-image: linear-gradient(50turn, #0d6efd, #6610f2);
  -webkit-background-clip: text;  /* for WebKit */
  background-clip: text;          /* other browsers */
  -webkit-text-fill-color: transparent;
  color: transparent;
}
