.example::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  .example {
    -ms-overflow-style: none;
  }

  .top-image-about{
    background-image: url("../../../assets/images/me.jpg");
    background-size: cover;
    background-position:center;
    height: 24em !important;
  }