
<div class="top-image-about">
    <div class="container text-white" style="text-align: left;width: 30%;">
        <div style="height:1em;"></div>
        <h1>Systemutvecklare inom .Net</h1>
        <p style="font-size: 1.1em;"class="p-2">
            För två år sedan bestämde jag mig för att följa min dröm.<br>
            Tidigare har kodandet alltid varit en stor hobby, men jag visste att en dag ville jag jobba med detta, men vart jag skulle börja.<br>
            Jag har alltid haft ett stort intresse för spel, datorer, it och teknik.<br><br>
            Allt väldigt oskydligt när jag börja med linux, efter detta kom jag in ganska snabbt på webbutveckling och java utveckling.<br>
            Och slutade med en utbildning som systemutvecklare inom .Net.
            Mitt driv kommer från nyfikenhet, kreativitet och skapandet. Och om jag en dag får som jag vill, så har jag gott fullstack.
        </p>
    </div>   
</div>

<div class="container text-center" style="width: 35%;">
    <div class="shadow-lg w-100 p-4 mw-100 mb-4 mt-4" style="margin:auto;border-radius: 25px;">
        <div class="row">
            <h2>Kunskaper</h2>
        <div *ngIf = "  isShow2">
            <div class="row mt-4 mb-4" style="margin-right: 2em;">
                <div style="width: 10%;"></div>
                <div style="width: 40%;"> 
                    <p style="text-align: left;">.Net</p>
                    <div class="background">
                        <div class="progress text-center" style="width:90%;"><p style="margin-left: 5em;">90%</p></div>
                    </div>
                    <p style="text-align: left;">Java</p> 
                    <div class="background">
                        <div class="progress" style="width:65%;"><p style="margin-left: 5em;">65%</p></div>
                    </div>
                    <p style="text-align: left;">CSS</p> 
                    <div class="background">
                        <div class="progress" style="width:100%;"><p style="margin-left: 5em;">100%</p></div>
                    </div>
                    <p style="text-align: left;">Bootstrap</p> 
                    <div class="background">
                        <div class="progress" style="width:100%;"><p style="margin-left: 5em;">100%</p></div>
                    </div>
                    <p style="text-align: left;">T-Structured Query Language</p> 
                    <div class="background">
                        <div class="progress" style="width:85%;"><p style="margin-left: 5em;">85%</p></div>
                    </div>
                    <p style="text-align: left;">Angular</p> 
                    <div class="background">
                        <div class="progress" style="width:65%;"><p style="margin-left: 5em;">65%</p></div>
                    </div>
                </div>
                <div style="width: 10%;"></div>
                <div style="width: 40%;"> 
                    <p style="text-align: left;">C#</p> 
                    <div class="background">
                        <div class="progress" style="width:90%;"><p style="margin-left: 5em;">90%</p></div>
                    </div>
                    <p style="text-align: left;">Javascript</p> 
                    <div class="background">
                        <div class="progress" style="width:100%;"><p style="margin-left: 5em;">100%</p></div>
                    </div>
                    <p style="text-align: left;">Typescript</p> 
                    <div class="background">
                        <div class="progress" style="width:65%;"><p style="margin-left: 5em;">65%</p></div>
                    </div>
                    <p style="text-align: left;">HTML</p> 
                    <div class="background">
                        <div class="progress" style="width:100%;"><p style="margin-left: 5em;">100%</p></div>
                    </div>
                    <p style="text-align: left;">Structured Query Language</p> 
                    <div class="background">
                        <div class="progress" style="width:85%;"><p style="margin-left: 5em;">85%</p></div>
                    </div>
                    <p style="text-align: left;">JQuery</p> 
                    <div class="background">
                        <div class="progress" style="width:70%;"><p style="margin-left: 5em;">70%</p></div>
                    </div>
                </div>
                <div style="width: 10%;"></div>
            </div>
            
        </div>
            <!--<fa-icon (click)=toggleDisplay(2) [icon]="arrowDown"></fa-icon>-->
        </div>
    </div>
    
    <div class="shadow-lg w-100 p-4 mw-100 mb-4 mt-4" style="margin:auto;border-radius: 25px">
        <div class="row">
            <h2>Erfarenhet</h2>
            <div style="height: 1em;"></div>
            <div class="mt-4"  style="text-align: left;" *ngIf = "isShow3">
                <h3 style="font-weight:600;">Campus Varberg</h3>
                <br>
                <h5 style="color:grey">Maj 2021 – Juni 2021 - Varberg</h5>
                <p>Min examen, innefattade ett arbete för Campus Varberg.<br>
                    Det ville uppdatera sitt nuvarande bokningssystem som idag har vissa begränsningar.
                    Bland annat så kan lärare idag bara boka rum och då enbart klassrum. 
                    <br><br><br>
                    Campus ville då ge möjligheten för elever att kunna boka grupprum, kunna se antal platser kvar i ett grupprum, samt
                    kunna ge förslag om vad som skulle saknas i klassrumet. 
                    <br><br>
                    Allt började med ett möte med Campus Varberg där vi tillsammans gick igenom vad campus var utefter och jag fick möjligheten att ställa frågor.
                    Vi hade även kontakt under projektet och försökte vara så öppen det gick med framstegen och hur det såg ut. 
                    Allt detta skulle avslutas med en redovisning inför klassen samt campus varberg. <br><br> 
                    Projektets frontend är skrivet med .net, angular, typescript för att få sida SPA. Backend är skrivet med net core, mysql och entity framework.
                    Backend är även skriven som en restful api och skickar data till frontend.
                </p>
                <div style="height: 3em;"></div>
                <h3 class="mb-4" style="font-weight:600;">André med vänner</h3>  
                <h5 style="color:grey">Nov 2020 – Maj 2021 - Varberg</h5>
                <p>
                    Fick möjligheten att jobba hos andre med vänner i 7 månader.<br> Ett ställe jag trivdes väldigt bra på och fick ta stort eget ansvar över mina projekt,
                    Net core och MysSql hade stor focus där. Mina projekt innefattade ett eget skrivet kundanpassat CMS och en frontend knutet till CMS'et. 
                    <br><br> Målet med projekten var att besökare av sidan skulle kunna skriva upp sig på olika golfevent, och i stället för att sitta inne och ha möten så tyckte 
                    kunden det var spännande att man i stället träffades på golfbanor runt om i sverige för att knyta kontakter och ha kul.
                    <br><br> I CMS'et använde jag mig av identity framework, authO2 standard och hashade lösenord för säkerhet i databasen.
                    Kunden ville ha möjligheten att skapa nya undersidor som privata eller publika, likaså  privata och unika golf event. 
                    <br><br>
                    Det skulle även finnas en möjlihet att kunna ändra text och bilder, mail funktioner då besökare skulle kunna skriva upp sig på golf eventen och få svars mail
                    och mer information. 
                    <br><br>
                    Frontend clienten, är skrivet med net core, mvc och tar i mot data från cms. Layout är skrivet med bootstrap. Funktioner är skrivet i C#, javascript samt jquery.
                    Undersidor och eventsidor använder i stort sätt bara en mall och hämtar unik data baserat på sidans id eller event id.
                    Dbcontext och entity framework va också nått jag använde mig mycket av.

                </p>
                <div style="height: 3em;"></div>
            </div>
            <!--<fa-icon (click)=toggleDisplay(3) [icon]="arrowDown"></fa-icon>-->
        </div>
    </div>
    <div class="shadow-lg w-100 p-4 mw-100 mb-4 mt-4" style="margin:auto;border-radius: 25px">
        <div class="row">
            <h2>Utbildning</h2>
            <div *ngIf = "isShow4"  style="text-align: left;">
                <h3 class="mt-4" style="font-weight:600;">Grunder i AI</h3>
                <br>
                <h5 style="color:grey">Juni 2021 – Nuvarande - Linköpings universitet</h5>
                    <p>
                        Vad är AI, vad innebär detta och hur kan vi använda det.
                        Även kodning mot AI och förståelse i hur det kan användas.
                        Utbildning är flexibel och hindras inte av att jag jobbar heltid.
                    </p>
                <h3 class="mt-4 " style="font-weight:600;">Systemutvecklare .Net</h3>
                <br>
                <h5 style="color:grey">Agusti 2019 – Juni 2021 - Campus Varberg</h5>
                <p>Yrkesutbilding med fokus på .NET. Stort fokus på hemsidor och bygga system<br> 
                    för detta.<br><br>
                    Fick lära oss allt från Blazor, MVC, APIer, PostMan, C#, Javascript, Jquery, Css, Html, <br>
                    Agilt arbetsätt, Devops principer, testning av kod, ISQTB principer, Angular, SQL/T-SQL, Dapper, Entity Framework,
                    .Net Core, .Net framework, AspNet, AdoNet och mycket annat.<br><br>
                    Vi hade nästan ett års LIA där vi även fick lära oss hur allt detta skulle appliceras i en verklig arbetsmiljö.  
                    Samt en examen som skulle simulera en verklig arbetsmiljö. En riktigt spännande och rolig utbildning.
                </p>
                <h3 class="mt-4" style="text-align: left;font-weight:600;">Java utveckling</h3>
                <br>
                <h5 style="text-align: left;color: grey;">Juni 2015 – Aug 2015 - Luleås Tekniska Högskola</h5>
                <p style="text-align: left;">
                    Mer avancerad inriktning på Java. Jobbade med bland annat polymorphism mer fokus på objektorienterad programmering, Jframe med swing.
                    Bland annat skulle man skriva ett program där det fanns vargar, får och gräs. Det skapades ett visst antal gräs tussar, <br> <br> 
                    hade fåren ätit tussarna och två får krocka kunde det skapas ett nytt får. Vargarna kunde äta fåren och då skapades nya vargar. Målet var att skapa ett
                    slags ekosystem och förstå JFrame med swing.
                </p>
                <h3 class="mt-4" style="text-align: left;font-weight:600;">Java utveckling</h3>
                <br>
                <h5 style="text-align: left;color:grey;">Juni 2013 – Aug 2013 - Högskolan Gävle</h5>
                <p style="text-align: left;">
                    Baskurs i programmering med java. Att förstå grunder i programmering.
                    Vad är klasser, metoder, varibler och hur man använder dessa.
                    Samt skriva ett enkelt konsol program.
                </p>
                <h3 class="mt-4" style="text-align: left;font-weight:600;">Webbutveckling</h3>
                <br>
                <h5 style="text-align: left;color:grey;">Juni 2013 – Aug 2013 - Blekingen Tekniska Högskola</h5>
                <p style="text-align: left;">
                 Baskurs i css, javascript och html. Kursen gick igenom hur man bygger en hemsida.
                 Samt avslutades med att bygga en enkel hemsida.
                </p>
            </div>
            <!--<fa-icon (click)=toggleDisplay(4) [icon]="arrowDown"></fa-icon>-->
        </div>
    </div>
</div>