.example::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE and Edge */
  .example {
    -ms-overflow-style: none;
  }

  .top-image-about{
    background-image: url("../../../assets/images/me.jpg");
    background-size: cover;
    background-position:center;
    height: 26em !important;
  }

  .container{
    margin-top: 3em;
  }
p{
    font-size: 1.2em;
  }

.background{
  background-color: lightgrey;
  border-radius: 60px;
}
.progress{
  background-color: cornflowerblue;
  border-radius: 60px;
  height:24px;
}